# Игнорируем виртуальное окружение
venv/
.env
pyvenv.cfg

# Игнорируем файлы кэша Python
__pycache__/
*.pyc
*.pyo

# Игнорируем файлы конфигурации PyCharm
.idea/

# Игнорируем файлы данных
data/*.csv

# Игнорируем логи и временные файлы
*.log
.DS_Store
